<!--#set var="noContentContainer" value="true"-->
<!--#set var="lastUpdate" value="2015"-->
<!--#set var="page_title" value="Customer Service - GlobalGiving"-->

<!--#set var="selectedNav" value="about"-->
<!--#set var="secondaryNav" value="contact"-->
<!--#set var="menul_1" value="&nbsp;&gt;&nbsp;<a href=\"/aboutus/index.html\">About GlobalGiving</a>"-->
<!--#set var="menul_2" value="&nbsp;&gt;&nbsp;Customer&nbsp;Service"-->
<!--#set var="menul_3" value=""-->
<!--#set var="menul_4" value=""-->
<!--#set var="menul_5" value=""-->
<!--#set var="description" value="Learn how to get in touch with GlobalGiving staff who can answer your questions."-->

<!--#set var="head_scripts" value='
   <link rel="stylesheet" href="/v2/css/modules/05_user_interface/pure-forms.css" type="text/css" media="screen">
    '-->
<!--#include virtual="/inc/header.inc"-->
